doctype html
html
    head
        title my jade templete
    body
        h1 Hello #{name} i Jola
        h2 Co tam ciekawego słuchać?

        table(style='border: 10px')
            tr
             td ALa
             td Ma
             td Kota


